$bg-color: lightgray;
$game-width: 1300px;
$settings-width: 30%;

#gameContainer {
  height: 570px;
  width: $game-width;
  display: flex;
  flex-direction: column;
}

#battleground {
  background-color: white;
  height: 170px;
}

#lowerBarContainer {
  width: $game-width;
  height: 200px;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reload-area{
  flex: 2;
  width: 100%;
  button{
    height:100%;
    width: 100%;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    border: none;

    &:hover {
      background-color: darken(#333, 10%);
    }
  }
}
#side-bar {
  flex: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:nowrap;
  align-items: center;
  padding: 0 20px;
  width: $game-width;  
  background-color: $bg-color;
   
  
  .column {
    width: calc((100% - 60px) / 4);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: yellow;
    /*
    &:first-child {
    //  margin-right: 20px;
    }
    
    &:last-child {
    /*button{
    height:100%;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    background-color: rgb(247, 102, 102);
    color: #fff;
    border: none;
    cursor: pointer;
    
    &:hover {
      background-color: darken(#333, 10%);
    }
  }
   }*/
   
    h2 {
      font-size: 24px;
      font-weight: bold;
      //margin-bottom: 10px;
    }
    
    p {
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      //margin-bottom: 20px;
    }
    
  /*  button {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
    //  cursor: pointer;
      
      &:hover {
        background-color: #555;
      }
    }*/
  }
}
/*
.settings-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  }
  
  .settings-col {
  background-color: lightblue;
  flex: 1;
  margin: 5px 0px;
  width: 100%;
  }
  
  .info-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  }
  
  .info-col {
  height: 200px ;
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 0px;
  }
  
  .info-col > div {
  width: calc(50% - 5px);
  background-color: lightgreen;
  margin-right: 10px;
  }
  
  .buy-row {
  display: flex;
  flex-direction: column;
  }
  
  .buy-col {
  height: 100%;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin: 0.3em;
  }
  
  .buy-col .buy-row {
  width: 25%;
  display: flex;
  flex: 1;
  margin: 5px 0px;
  }
  
  .button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  #next-wave-button {
  background-color: red;
  color: white;
  border-radius: 10px;
  height: 80%;
  width: 90%;
  }
*/
 
 


